<div class="container">
  <div class="list-container">
    <!-- Top Howlr button -->
    <div class="howlr-header text-center">
      <h1 class="howlr-header-text">Howlr</h1>
    </div>

    <!-- Nav Buttons -->
    <div class="howl-nav-wrapper clearfix">
      <a class="nav-button new-howl" href="/howls/new">NEED TO HOWL</a>
      <a class="nav-button see-pack" href="/wolves">SEE THE PACK</a>
    </div>

    <div class="text-center">
      <h3>Here are the last five howls from your pack:</h3>
    </div>

    <!-- Howls -->
    <div class="howls-list-container">
      <% @howls.each do |h| %>
        <div class="howl-container clearfix">
          <div class="howl-header clearfix">
            <div class="howl-name-wrapper">
              <h3 class="howl-name"><%=h.wolf.name%></h3>
            </div>
            <div class="howl-wolf-image-wrapper">
              <img class="wolf-image" src="<%=h.wolf.image%>">
            </div>
            <p class="howl-day"><%=h.days_since_howl%></p>
          </div>
          <% if !h.image.nil? %>
            <img src="<%=h.image%>" class="howl-image">
          <% end %>
          <div class="howl-content-wrapper">
            <p class="howl-content"><%=h.content%></p>
          </div>
          <a class="howl-link" href="/howls/<%=h.id%>/replies">Howl Back (<%=h.replies.count%>)</a>
          <p id="like-link" data-id="howl-<%=h.id%>" value="<%=h.id%>" class="howl-link">Like (<span id="likes"><%=h.likes%></span>)</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
document.getElementById("like-link").onclick = myOtherFunction;

function myOtherFunction() {
  var target = document.getElementById("like-link");
  var howlId = target.getAttribute("value");
  var postData = {howl_id: howlId};
  alert(postData);
  $.ajax({url: "/howls/like", method: "post", data: postData, success: function(result){
    $("#likes").html(result);}
            //$("#like").html(result);
        });
}
</script>
