<div class="container">
  <div class="list-container">
    <!-- Top Howlr button -->
    <div class="howlr-header text-center">
      <a class="howlr-header-text" href="/howls">Howlr</a>
    </div>

    <% if @howl.errors.any? %>
      <div class="error-box">
        <% @howl.errors.full_messages.each do |m| %>
        <p class="error-message"><%=m%></p>
        <% end %>
      </div>
    <% end %>

    <form class="new-form" action="/howls/<%=@howl.id%>/replies" method="post">
      <input class="form-input" type="text" name="content" placeholder="What are you howling back about?">
      <input class="form-input" type="text" name="image" placeholder="Wanna share a picture? (optional)">
      <select class="wolf-select" name="wolf_id">
        <option value="" disabled selected hidden>Please Choose a Wolf</option>
        <% @wolves.each do |w| %>
          <option value="<%=w.id%>"><%=w.name%></option>
        <% end %>
      </select>
      <input class="wolf-submit-button" type="submit" value="Howl Back">
    </form>
    <a href="/howls/<%=@howl.id%>/replies" class="back-button">Back</a>
  </div>
</div>
