<div class="container">
  <div class="list-container">
    <!-- Top Howlr button -->
    <div class="howlr-header text-center wolf-header">
      <a class="howlr-header-text" href="/howls">Howlr</a>
    </div>

    <!-- Number in Pack -->
    <div class="text-center">
      <h2 class="wolf-count-text">You have <%=@wolves.count%> wolves in your pack</h2>
    </div>

    <div>
      <% @wolves.each do |w| %>
        <div class="wolf-container clearfix">
          <div class="wolf-image-wrapper">
            <img class="wolf-image" src="<%=w.image%>">
          </div>
          <div class="wolf-bio-container">
            <div class="wolf-name-wrapper clearfix">
              <p class="wolf-name"><%=w.name%></p>
              <p class="wolf-howls-count"><%=w.howls.count%> howls</p>
            </div>
            <div class="wolf-description-wrapper">
              <p class="wolf-description"><%=w.description%></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <a href="/wolves/new" class="new-wolf-button">New Pack Member</a>
  </div>
</div>
